</main>

<footer class="fixed bottom-0 w-full border-t-2 border-[#0f0d35] text-center px-6 py-4 bg-[#f6f7f3] text-[#0f0d35]">
    <p>Made with love by <a href="#" class="text-yellow-600 hover:underline">edriso</a> &copy; 2023</p>
</footer>    

</body>
</html>